In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import datetime as dt
from datetime import date

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date,Measurement.tobs).\
    filter(extract('month',Measurement.date) == 6).all()
junetemps = results
# look at some sample values, see they are all June dates
junetemps[0::100]

[('2010-06-01', 78.0),
 ('2013-06-15', 78.0),
 ('2016-06-25', 78.0),
 ('2012-06-05', 72.0),
 ('2015-06-17', 72.0),
 ('2010-06-30', 74.0),
 ('2015-06-24', 77.0),
 ('2012-06-04', 74.0),
 ('2017-06-23', 76.0),
 ('2011-06-28', 74.0),
 ('2015-06-12', 78.0),
 ('2010-06-25', 71.0),
 ('2014-06-09', 73.0),
 ('2017-06-19', 72.0),
 ('2013-06-01', 80.0),
 ('2011-06-02', 72.0),
 ('2014-06-14', 77.0)]

In [5]:
#  3. Convert the June temperatures to a list
#  ALREADY RETURNED AS A LIST IN STEP 2 (result of using the all() method)
# confirming
type(junetemps)

list

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(junetemps)

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date,Measurement.tobs).\
    filter(extract('month',Measurement.date) == 12).all()
dectemps = results
# look at every hundredth value, visually confirm these are all december dates
dectemps[::100]

[('2010-12-01', 76.0),
 ('2013-12-15', 71.0),
 ('2016-12-22', 71.0),
 ('2012-12-29', 65.0),
 ('2016-12-06', 70.0),
 ('2012-12-28', 75.0),
 ('2016-12-28', 73.0),
 ('2016-12-12', 70.0),
 ('2012-12-07', 72.0),
 ('2015-12-17', 74.0),
 ('2011-12-28', 69.0),
 ('2015-12-04', 75.0),
 ('2011-12-11', 72.0),
 ('2014-12-21', 78.0),
 ('2012-12-29', 62.0),
 ('2016-12-14', 69.0)]

In [9]:
# 7. Convert the December temperatures to a list.
# # QUERY IN THE ABOVE STEP RETURNED DATE/TEMP PAIRS AS A LIST (as we used the all() method)
# confirming
type(dectemps)

list

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dectemps)

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000